<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="author" content="Tom Poortman">
    <meta name="description" content="">

    <link rel="stylesheet" href="styles/style.css">

    <script src="scripts/scripts.js" defer></script>

    <title>Schiphol Dashboard</title>
</head>

<body>

    <header>
        <nav>
            <img src="/images/svg/Schiphol-logo.svg" alt="" width="" height="">

            <!-- <button id="flagged-flights-button">
                <img src="/images/svg/flag.svg" alt="" width="16" height="30">
            </button> -->

        </nav>
    </header>