<section id="list">
    <div class="search">
        <h1>Find a Flight</h1>
        <input class="js-disabled" id="searchbar" type="text" placeholder="AMS, HV604TRA, LND...">
    </div>

    <ol class="flights" id="arrivingflights">
        <span id="no-content" class="state hide">No flights here, try searching for something else or refresh the browser.</span>
    </ol>
</section>