<section id="list">
    <h1>list</h1>
    <form action="">
        <input type="text">
        <button>yooo</button>

        <ol class="flights" id="arrivingflights">

            

        </ol>
    </form>
</section>