<section id="list">
    <h1>list</h1>
    <form action="">
        <input type="text">
        <button>yooo</button>

        <ol class="flights">

            <li class="flight">
                <a href="?departureAirportIATA=<%= "AMS" %>&arrivalAirportIATA=<%= "HRE" %>"></a>
                <div class="content">
                    <div>
                        <p class="status">In 10 minutes</p>

                        <section class="information">
                            <h3>London</h3>
                            <p>11:20, 10 June</p>
                            <p>EJU 7839 easyJet Europe</p>
                        </section>

                        <a href="#meer">> meer</a>
                    </div>
                    <div class="options">
                        <!-- <div class="flag">flag</div> -->
                        <div class="enter">-></div>
                    </div>
                </div>
            </li>

        </ol>
    </form>
</section>