<section id="map" class="hide-map">
</section>

<script>
    var departure = '<%- JSON.stringify(coordinates.departureAirport) %>'
    var arrival = '<%- JSON.stringify(coordinates.arrivalAirport) %>'
</script>
