<div id="list-map-switch">
    <a href=
    <% if (locals.toPage) { %>
        <%= toPage %>
        <% } else { %>
            "list"
            <% } %>
    >list - map</a>
    
    <button class="js-disabled">List - Map</button>
</div>