<div id="list-map-switch">
    <a aria-label="open <%= locals.toPage %>" href=
    <% if (locals.toPage) { %>
        <%= locals.toPage %>
        <% } else { %>
            "map"
            <% } %>
    >list / map</a>

    <button aria-label="List menu" aria-expanded="true" class="js-disabled">List / Map</button>
</div>