@import url(tokens.css);
@import url(../assets/fonts/Manrope/static/Manrope-Medium.ttf);
@import url(../assets/fonts/Manrope/static/Manrope-Regular.ttf);
@import url(../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf);

@font-face {
    font-family: "Manrope Medium";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope Regular";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope ExtraBold";
    font-style: normal;
    src: url(../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf) format("truetype");
}

/*
===============================
✨ VARIABLES
===============================
*/

:root {
    --default-width: 95vw;
    --max-width: 95rem;

    --small-size: .5rem;
    --medium-size: 1.2rem;
    --large-size: 1.7rem;
    --xlarge-size: 3rem;
    --xxlarge-size: 8rem;

    --small-radius: 3px;
    --medium-radius: 10px;
    --large-radius: 20px;

    --c-background: #fff;
    --c-container: #cdcdcd;

    --container-border: 1px solid var(--c-container);
}

/*
===============================
💪 DEFAULT STYLING
===============================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: Manrope Regular;
    font-size: 1.1rem;
    font-weight: 600;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--xlarge-size);
    background-color: var(--c-background);
    border-bottom: var(--container-border);
    z-index: 2;
}

main {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: fit-content;
    background-color: var(--c-background);
}

.js-disabled {
    display: none !important;
}

.arrivalAirportMarker {
    filter: hue-rotate(149deg) saturate(1.5);
}

.hide {
    display: none;
}

/*
===============================
🧩 PARTIALS
===============================
*/

/* Header */

header nav {
    display: flex;
    align-items: center;
    width: var(--default-width);
    /* max-width: var(--max-width); */
}

header nav img {
    height: var(--large-size);
}

/* Dashboard */

.dashboard {
    /* display: grid;
    grid-template-columns: 1fr 2.5fr; */

    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: var(--xlarge-size);
    height: 100dvh;
}

.dashboard :is(#list, #map) {
    transition: all .1s, width 0s, height 0s;
}

#list-map-switch {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
}

#list-map-switch :is(button, a) {
    display: flex;
    align-items: center;
    gap: var(--small-size);
    padding: var(--small-size);
    background-color: var(--sds-pax-color-accent-50);
    color: var(--sds-pax-color-brand-150);
    text-decoration: none;
    cursor: pointer;

    border-radius: var(--medium-radius) var(--medium-radius) 0 0;
    border: none;
}

.dashboard #list-map-switch button[aria-expanded="true"] .bullet,
#list-map-switch a.map .bullet {
    transform: translateX(-1.5rem);
}

#list,
#map {
    /* position: relative; */
    position: absolute;
    bottom: 0;
    /* width: ; */
    width: 100%;
    height: calc(100dvh - var(--xlarge-size));
}

/* List */

#list {
    display: flex;
    flex-direction: column;
    background-color: #f3f7ff;
    padding: var(--sds-pax-size-50) 0;
    overflow-y: auto;
}

#list .search {
    display: flex;
    flex-direction: column;
    gap: var(--small-size);
    position: sticky;
    top: 0;
    transform: translateY(-.8rem);
    background: white;
    padding: calc(2* var(--sds-pax-size-50));
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.04);
    width: 100%;
    z-index: 3;
}

#list .search h1 {
    font-family: Manrope ExtraBold;
    font-size: 2.7rem;
    font-weight: bolder;

  background: -webkit-linear-gradient(var(--sds-pax-color-gradient-purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.dashboard #list {
    visibility: hidden;
    transform: translateX(-100%);
    z-index: 1;
}

.dashboard #list.open-list {
    visibility: visible !important;
    transform: translateX(0) !important;
}

/* Flight cards */

.flights {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--sds-pax-size-50);
    padding: var(--large-size) var(--small-size);
}

.flights .flight {
    position: relative;
    border-radius: var(--small-radius);
    border: var(--container-border);
    padding: var(--sds-pax-size-50);
    background-color: white;
}

.flights .flight:hover {
    transform: scale(1.008);
    transition: .1s;
}

.flights .flight .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.flights .flight>a:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.flights .flight .content>div {
    display: flex;
    flex-direction: column;
    gap: var(--sds-pax-size-50);
}

.flights .flight .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flights .flight .content a {
    position: relative;
    z-index: 2;
}

.flights .flight .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flights .flight .enter {
    color: var(--sds-pax-color-accent-50);
    font-size: 1.8rem;
}


.flights .flight:hover .enter {
    animation: point .7s infinite alternate;
}

.flights .flight .content .status {
    width: fit-content;
    padding: var(--sds-pax-size-30) var(--sds-pax-size-40);
    border-radius: var(--small-radius);
    color: white;
    background-color: var(--sds-pax-color-accent-350);
}

#searchbar {
    width: 100%;
    height: 3rem;
    padding: var(--small-size);
    border: var(--container-border);
    border-radius: var(--small-radius);
}

/* Map */

#map {
    background-color: #abd3df;
    z-index: 0;
}

.dashboard #map {
    visibility: hidden;
}

.dashboard #list:not(.open-list)~#map {
    visibility: visible;
}

/* Switch */

.switch {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 3rem;
    height: 1.5rem;
    padding: .2rem;
    border-radius: var(--large-radius);
    border: 2px solid var(--sds-pax-color-brand-150);
}

.switch .bullet {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: .1s;
    background-color: var(--sds-pax-color-brand-150);
}

/*
===============================
🖥️ QUERIES
===============================
*/

@media only screen and (min-width: 880px) {
    main {
        display: flex;
        justify-content: center;
    }

    .dashboard {
        display: grid;
        grid-template-columns: 1fr 1.9fr;
        width: 100%;
    }

    #list,
    #map {
        visibility: visible !important;
        position: relative !important;
        transform: translate(0) !important;
    }
    #list-map-switch {
        display: none;
    }
}

@keyframes point {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(.3em);
    }
}