@import url(tokens.css);

/*
===============================
✨ VARIABLES
===============================
*/

:root {
    --default-width: 95vw;
    --max-width: 95rem;

    --small-size: .5rem;
    --medium-size: 1.2rem;
    --large-size: 1.7rem;
    --xlarge-size: 3rem;
    --xxlarge-size: 8rem;

    --small-radius: 5px;
    --medium-radius: 10px;
    --large-radius: 20px;

    --c-background: #fff;
    --c-container: #cdcdcd;

    --container-border: 1px solid var(--c-container);
}

/*
===============================
💪 DEFAULT STYLING
===============================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--xlarge-size);
    background-color: var(--c-background);
    border-bottom: var(--container-border);
    z-index: 2;
}

main {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: fit-content;
    background-color: var(--c-background);
}

.js-disabled {
    display: none !important;
}

/*
===============================
🧩 PARTIALS
===============================
*/

/* Header */

header nav {
    display: flex;
    align-items: center;
    width: var(--default-width);
    max-width: var(--max-width);
}

header nav img {
    height: var(--large-size);
}

/* Dashboard */

.dashboard {
    /* display: grid;
    grid-template-columns: 1fr 2.5fr; */

    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: var(--xlarge-size);
    height: 100dvh;
}

.dashboard :is(#list, #map) {
    transition: all .1s, width 0s, height 0s;
}

#list-map-switch {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
}

#list-map-switch :is(button, a) {
    display: flex;
    align-items: center;
    gap: var(--small-size);
    padding: var(--small-size);
    background-color: var(--sds-pax-color-brand-50);
    color: var(--sds-pax-color-brand-150);
    text-decoration: none;
    cursor: pointer;

    
    border-radius: var(--small-radius) var(--small-radius) 0 0;
    border: none;
}

.dashboard #list-map-switch button[aria-expanded="true"] .bullet, #list-map-switch a.map .bullet {
    background-color: var(--sds-pax-color-accent-350);
    transform: translateX(-1.5rem);
}

#list,
#map {
    /* position: relative; */
    position: absolute;
    bottom: 0;
    /* width: ; */
    width: 100dvw;
    height: calc(100dvh - var(--xlarge-size));
}

/* List */

#list {
    background-color: red;
}

.dashboard #list {
    visibility: hidden;
    transform: translateX(-100%);
    z-index: 1;
}

.dashboard #list.open-list {
    visibility: visible !important;
    transform: translateX(0) !important;
}

/* Map */

#map {
    background-color: rgb(0, 51, 255);
}

.dashboard #map {
    visibility: hidden;
}

.dashboard #list:not(.open-list)~#map {
    visibility: visible;
}

/* Switch */

.switch {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 3rem;
    height: 1.5rem;
    padding: .25rem;
    border-radius: var(--large-radius);
    background-color: var(--sds-pax-color-brand-150);
}

.switch .bullet {
    height: 100%;
    /* margin-left: 0; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: .3s;
    background-color: var(--sds-pax-color-wayfinding-50);
}

/*
===============================
🖥️ QUERIES
===============================
*/