/*
===============================
✨ VARIABLES
===============================
*/

:root {
    --default-width: 95vw;
    --max-width: 95rem;

    --small-size: .5rem;
    --medium-size: 1.2rem;
    --large-size: 1.7rem;
    --xlarge-size: 3rem;
    --xxlarge-size: 8rem;

    --c-background: #fff;
    --c-container: #cdcdcd;

    --container-border: 1px solid var(--c-container);
}

/*
===============================
💪 DEFAULT STYLING
===============================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--xlarge-size);
    background-color: var(--c-background);
    border-bottom: var(--container-border);
    z-index: 2;
}

main {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: fit-content;
    background-color: var(--c-background);
}

.js-disabled {
    display: none;
}

/*
===============================
🧩 PARTIALS
===============================
*/

/* Header */

header nav {
    display: flex;
    align-items: center;
    width: var(--default-width);
    max-width: var(--max-width);
}

header nav img {
    height: var(--large-size);
}

/* Dashboard */

.dashboard {
    /* display: grid;
    grid-template-columns: 1fr 2.5fr; */

    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: var(--xlarge-size);
    height: 100dvh;
}

#list-map-switch {
    position: absolute;
    bottom: 0;

    z-index: 2;
}

#list, #map {
    /* position: relative; */
    position: absolute;
    bottom: 0;
    /* width: ; */
    width: 100dvw;
    height: calc(100dvh - var(--xlarge-size));
}

/* List */

#list {
    background-color: red;
}

.dashboard #list {
    visibility: hidden;
    transform: translateX(-100%);
    transition: .3s;
    z-index: 1;
}

.dashboard #list.open-list {
    visibility: visible !important;
    transform: translateX(0) !important;
}

/* Map */

#map {
    background-color: rgb(0, 51, 255);
}

.dashboard #map {
    visibility: hidden;
    transition: .3s;

}

.dashboard #list:not(.open-list) ~ #map {
    visibility: visible;
}

/*
===============================
🖥️ QUERIES
===============================
*/

